authorization-utils/target/
bds-types/target/
document-generator/target/
downloader/target/
eml-handler/target/
estrattore/target/
firma/src/main/java/it/bologna/ausl/internauta/utils/firma/debug/controllers/FirmDebugController.java
firma/nb-configuration.xml
firma/target/
firma-data/target/classes/it/bologna/ausl/internauta/utils/firma/data/jnj/SignParams.class
firma-data/target/
jpa-tools/target/
middelmine/target/
mime-type-utilities/target/
minIO-manager/target/
parameters-manager/target/
repository-wrapper/target/
rubrica-client/target/
nb-configuration.xml
masterjobs/target/
versatore/target/
ParerDocumentBuilder/target/
parersender/target/
*.p12
/PDFToolkit/target/
