authorization-utils/target/
bds-types/target/
document-generator/target/
downloader/target/
eml-handler/target/
estrattore/target/
firma/src/main/java/it/bologna/ausl/internauta/utils/firma/debug/controllers/FirmDebugController.java
firma/nb-configuration.xml
firma/target/
firma-data/target/classes/it/bologna/ausl/internauta/utils/firma/data/jnj/SignParams.class
firma-data/target/
jpa-tools/target/
middelmine/target/
mime-type-utilities/target/
minIO-manager/target/
parameters-manager/target/
repository-wrapper/target/
rubrica-client/target/
nb-configuration.xml
/masterjobs/target/
/firma - Copia/target/
/versatore/target/
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/Test$1.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/Test.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/Test2$1.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/Test2.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/TestAnnullamento.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/TestIdentityFile.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/testXMLToObject.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/UnitaDocumentariaBuilder.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/ChiaveType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/ComponenteType$SottoComponenti.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/ComponenteType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/ConfigAggAllType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/ConfigType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/DatiFiscaliType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/DatiSpecifici.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/DocumentoCollegatoType$DocumentoCollegato.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/DocumentoCollegatoType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/DocumentoType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/FascicoloType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/IntestazioneAggAllType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/IntestazioneType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/ObjectFactory.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/ProfiloArchivisticoType$FascicoliSecondari.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/ProfiloArchivisticoType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/ProfiloDocumentoType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/ProfiloUnitaDocumentariaType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/RichiestaAnnullamentoType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/RichiestaAnnullamentoVersamenti.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/SottoComponenteType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/StrutturaFascicoloType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/StrutturaType$Componenti.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/StrutturaType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/TipoConservazioneType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/TipoSupportoType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/UnitaDocAggAllegati.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/UnitaDocumentaria$Allegati.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/UnitaDocumentaria$Annessi.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/UnitaDocumentaria$Annotazioni.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/UnitaDocumentaria.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/VersamentiDaAnnullareListType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/VersamentoDaAnnullareType.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/oggetti/VersatoreType.class
ParerDocumentBuilder/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
ParerDocumentBuilder/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
ParerDocumentBuilder/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
ParerDocumentBuilder/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
ParerDocumentBuilder/target/test-classes/.netbeans_automatic_build
parersender/target/parersender-1.0-SNAPSHOT.jar
parersender/target/classes/.netbeans_automatic_build
parersender/target/classes/it/bologna/ausl/riversamento/sender/Pacco.class
parersender/target/classes/it/bologna/ausl/riversamento/sender/RiVersatore$1.class
parersender/target/classes/it/bologna/ausl/riversamento/sender/RiVersatore$2.class
parersender/target/classes/it/bologna/ausl/riversamento/sender/RiVersatore.class
parersender/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
parersender/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
parersender/target/test-classes/.netbeans_automatic_build
ParerDocumentBuilder/target/ParerDocumentBuilder-1.0-SNAPSHOT.jar
ParerDocumentBuilder/target/classes/.netbeans_automatic_build
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/AggiuntaAllegatiBuilder.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/DatiSpecificiBuilder$KeyValue.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/DatiSpecificiBuilder.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/DocumentBuilder.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/IdentityFile.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/IdentityFiles.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/InfoDocumento.class
ParerDocumentBuilder/target/classes/it/bologna/ausl/riversamento/builder/ProfiloArchivistico.class
