<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!--<File name="FILEGDM" fileName="${sys:catalina.home}/logs/bds_tools.log">
            <PatternLayout>
                <Pattern>%d{yyyy MM dd HH:mm:ss,SSS} %p %t %c - %m%n</Pattern>
            </PatternLayout>
        </File>-->
        <Console name="Console" target="SYSTEM_OUT">
           <PatternLayout>
                <Pattern>%d{yyyy MM dd HH:mm:ss,SSS} %p %t %c - %m%n</Pattern>
            </PatternLayout>
        </Console>
        <!--<RollingFile name="RollFile" fileName="${sys:catalina.home}/logs/mongowrapper.log"
            filePattern="${sys:catalina.home}/logs/mongowrapper.log.%i" ignoreExceptions="true">
            <PatternLayout>
                <Pattern>%d{yyyy MM dd HH:mm:ss,SSS} %p %t %c - %m%n</Pattern>
            </PatternLayout>
            <Policies>   
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="40"/>
        </RollingFile>-->
    </Appenders>
    <Loggers>
        <Root level="info">
            <!--<AppenderRef ref="FILEGDM" />-->
            <!--<AppenderRef ref="RollFile" />-->
            <AppenderRef ref="Console" /> 
        </Root>
    </Loggers>
</Configuration>